{{ form_start(roomForm) }}
                {{ form_row(roomForm.name) }}
                {{ form_row(roomForm.capacity) }}
                {{ form_row(roomForm.city) }}
            {{ form_row(roomForm.description) }}
            {{ form_row(roomForm.categories) }}

<button type="submit" class="btn btn-primary mt-4">Valider</button>
{{ form_end(roomForm) }}
