{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a type="button" class="btn btn-primary" href="{{ path('room.add') }}">Ajouter une salle</a>
  {% endif %}

  <h1>Salles disponibles ({{count}}/{{total}})</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Description</th>
        <th scope="col">Date de création</th>
        <th scope="col">Date de modification</th>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <td>{{ room.id }}</td>
        <td>{{ room.name }}</td>
        <td>{{ room.city }}</td>
        <td>{{ room.description | length > 60 ? room.description | slice(0,60) ~ '...' : room.description}}</td>
        <td>{{ room.goodFormatTime(room.createdAt) }}</td>
        <td>{{ room.goodFormatTime(room.updatedAt) }}</td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <td>
          <a href="{{ path('room.edit', {id:room.id}) }}" type="button" class="btn btn-warning">Edit</a>
          <form method="post" action="{{ path('room.delete', {id:room.id}) }}" style="display:inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~room.id) }}">
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
