{% extends 'base.html.twig' %}

{% block body %}

    <div class="card p-5 mt-5 w-50 shadow mx-auto">
        <h3 class="text-center">Ajouter une salle</h3>
        {{ include('room/_form.html.twig') }}

    </div>
{% endblock %}
