<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
        </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('room') }}">Voir les salles</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('category_index') }}">Voir les catégories</a>
          </li>
        {# {% if app.user.isVerified is defined and app.user.isVerified %}
        <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
        {% endif %} #}
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
